<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="ServicioSparqlREST-1.0">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <dependent-module archiveName="GestionSPARQL-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/GestionSPARQL/GestionSPARQL">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="ServicioSparqlREST"/>
        <property name="java-output-path" value="/ServicioSparqlREST/build/classes"/>
    </wb-module>
</project-modules>
